In [1]:
import pandas as pd
import numpy as np

files = ["ap_2010.csv", "class_size.csv", "demographics.csv", "graduation.csv", "hs_directory.csv", "math_test_results.csv", "sat_results.csv"]

data = {}

for file in files:
    d = pd.read_csv("schools/{0}".format(file))
    data[file.replace(".csv", "")] = d

for k,v in data.items():
    print("\n" + k + "\n")
    print(v.head())

ap_2010

      DBN                             SchoolName AP Test Takers   \
0  01M448           UNIVERSITY NEIGHBORHOOD H.S.              39
1  01M450                 EAST SIDE COMMUNITY HS              19
2  01M515                    LOWER EASTSIDE PREP              24
3  01M539         NEW EXPLORATIONS SCI,TECH,MATH             255
4  02M296  High School of Hospitality Management             NaN

  Total Exams Taken Number of Exams with scores 3 4 or 5
0                49                                   10
1                21                                  NaN
2                26                                   24
3               377                                  191
4               NaN                                  NaN

class_size

   CSD BOROUGH SCHOOL CODE                SCHOOL NAME GRADE  PROGRAM TYPE  \
0    1       M        M015  P.S. 015 Roberto Clemente     0K       GEN ED
1    1       M        M015  P.S. 015 Roberto Clemente     0K          CTT
2    1       M        M015  P.S. 015 Roberto Clemente     01       GEN ED
3    1       M        M015  P.S. 015 Roberto Clemente     01          CTT
4    1       M        M015  P.S. 015 Roberto Clemente     02       GEN ED

  CORE SUBJECT (MS CORE and 9-12 ONLY) CORE COURSE (MS CORE and 9-12 ONLY)  \
0                                    -                                   -
1                                    -                                   -
2                                    -                                   -
3                                    -                                   -
4                                    -                                   -

  SERVICE CATEGORY(K-9* ONLY) NUMBER OF STUDENTS / SEATS FILLED  \
0                           -                                19
1                           -                                21
2                           -                                17
3                           -                                17
4                           -                                15

   NUMBER OF SECTIONS  AVERAGE CLASS SIZE  SIZE OF SMALLEST CLASS  \
0                 1.0                19.0                    19.0
1                 1.0                21.0                    21.0
2                 1.0                17.0                    17.0
3                 1.0                17.0                    17.0
4                 1.0                15.0                    15.0

   SIZE OF LARGEST CLASS DATA SOURCE  SCHOOLWIDE PUPIL-TEACHER RATIO
0                   19.0         ATS                             NaN
1                   21.0         ATS                             NaN
2                   17.0         ATS                             NaN
3                   17.0         ATS                             NaN
4                   15.0         ATS                             NaN

demographics

      DBN                       Name  schoolyear fl_percent  frl_percent  \
0  01M015  P.S. 015 ROBERTO CLEMENTE    20052006       89.4          NaN
1  01M015  P.S. 015 ROBERTO CLEMENTE    20062007       89.4          NaN
2  01M015  P.S. 015 ROBERTO CLEMENTE    20072008       89.4          NaN
3  01M015  P.S. 015 ROBERTO CLEMENTE    20082009       89.4          NaN
4  01M015  P.S. 015 ROBERTO CLEMENTE    20092010                    96.5

   total_enrollment prek   k grade1 grade2    ...     black_num black_per  \
0               281   15  36     40     33    ...            74      26.3
1               243   15  29     39     38    ...            68      28.0
2               261   18  43     39     36    ...            77      29.5
3               252   17  37     44     32    ...            75      29.8
4               208   16  40     28     32    ...            67      32.2

  hispanic_num hispanic_per white_num white_per male_num male_per female_num  \
0          189         67.3         5       1.8    158.0     56.2      123.0
1          153         63.0         4       1.6    140.0     57.6      103.0
2          157         60.2         7       2.7    143.0     54.8      118.0
3          149         59.1         7       2.8    149.0     59.1      103.0
4          118         56.7         6       2.9    124.0     59.6       84.0

  female_per
0       43.8
1       42.4
2       45.2
3       40.9
4       40.4

[5 rows x 38 columns]

graduation

    Demographic     DBN                            School Name    Cohort  \
0  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2003
1  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2004
2  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2005
3  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2006
4  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL  2006 Aug

  Total Cohort Total Grads - n Total Grads - % of cohort Total Regents - n  \
0            5               s                         s                 s
1           55              37                      67.3                17
2           64              43                      67.2                27
3           78              43                      55.1                36
4           78              44                      56.4                37

  Total Regents - % of cohort Total Regents - % of grads  \
0                           s                          s
1                        30.9                       45.9
2                        42.2                       62.8
3                        46.2                       83.7
4                        47.4                       84.1

             ...            Regents w/o Advanced - n  \
0            ...                                   s
1            ...                                  17
2            ...                                  27
3            ...                                  36
4            ...                                  37

  Regents w/o Advanced - % of cohort Regents w/o Advanced - % of grads  \
0                                  s                                 s
1                               30.9                              45.9
2                               42.2                              62.8
3                               46.2                              83.7
4                               47.4                              84.1

  Local - n Local - % of cohort  Local - % of grads Still Enrolled - n  \
0         s                   s                   s                  s
1        20                36.4                54.1                 15
2        16                  25  37.200000000000003                  9
3         7                   9                16.3                 16
4         7                   9                15.9                 15

  Still Enrolled - % of cohort Dropped Out - n Dropped Out - % of cohort
0                            s               s                         s
1                         27.3               3                       5.5
2                         14.1               9                      14.1
3                         20.5              11                      14.1
4                         19.2              11                      14.1

[5 rows x 23 columns]

hs_directory

      dbn                                        school_name       boro  \
0  17K548                Brooklyn School for Music & Theatre   Brooklyn
1  09X543                   High School for Violin and Dance      Bronx
2  09X327        Comprehensive Model School Project M.S. 327      Bronx
3  02M280     Manhattan Early College School for Advertising  Manhattan
4  28Q680  Queens Gateway to Health Sciences Secondary Sc...     Queens

  building_code    phone_number    fax_number grade_span_min  grade_span_max  \
0          K440    718-230-6250  718-230-6262              9              12
1          X400    718-842-0687  718-589-9849              9              12
2          X240    718-294-8111  718-294-8109              6              12
3          M520  718-935-3477             NaN              9              10
4          Q695    718-969-3155  718-969-3552              6              12

  expgrade_span_min  expgrade_span_max  \
0               NaN                NaN
1               NaN                NaN
2               NaN                NaN
3                 9               14.0
4               NaN                NaN

                         ...                          \
0                        ...
1                        ...
2                        ...
3                        ...
4                        ...

                                          priority02  \
0                    Then to New York City residents
1  Then to New York City residents who attend an ...
2  Then to Bronx students or residents who attend...
3  Then to New York City residents who attend an ...
4  Then to Districts 28 and 29 students or residents

                                          priority03  \
0                                                NaN
1                Then to Bronx students or residents
2  Then to New York City residents who attend an ...
3          Then to Manhattan students or residents
4               Then to Queens students or residents

                            priority04                       priority05  \
0                                  NaN                              NaN
1      Then to New York City residents                              NaN
2  Then to Bronx students or residents  Then to New York City residents
3      Then to New York City residents                              NaN
4      Then to New York City residents                              NaN

  priority06  priority07 priority08  priority09 priority10  \
0        NaN         NaN        NaN         NaN        NaN
1        NaN         NaN        NaN         NaN        NaN
2        NaN         NaN        NaN         NaN        NaN
3        NaN         NaN        NaN         NaN        NaN
4        NaN         NaN        NaN         NaN        NaN

                                          Location 1
0  883 Classon Avenue\r\nBrooklyn, NY 11225\r\n(4...
1  1110 Boston Road\r\nBronx, NY 10456\r\n(40.827...
2  1501 Jerome Avenue\r\nBronx, NY 10452\r\n(40.8...
3  411 Pearl Street\r\nNew York, NY 10038\r\n(40....
4  160-20 Goethals Avenue\r\nJamaica, NY 11432\r\...

[5 rows x 58 columns]

math_test_results

      DBN Grade  Year      Category Number Tested Mean Scale Score Level 1 #  \
0  01M015     3  2006  All Students            39              667         2
1  01M015     3  2007  All Students            31              672         2
2  01M015     3  2008  All Students            37              668         0
3  01M015     3  2009  All Students            33              668         0
4  01M015     3  2010  All Students            26              677         6

  Level 1 % Level 2 # Level 2 % Level 3 # Level 3 % Level 4 # Level 4 %  \
0       5.1        11      28.2        20      51.3         6      15.4
1       6.5         3       9.7        22        71         4      12.9
2         0         6      16.2        29      78.4         2       5.4
3         0         4      12.1        28      84.8         1         3
4      23.1        12      46.2         6      23.1         2       7.7

  Level 3+4 # Level 3+4 %
0          26        66.7
1          26        83.9
2          31        83.8
3          29        87.9
4           8        30.8

sat_results

      DBN                                    SCHOOL NAME  \
0  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES
1  01M448            UNIVERSITY NEIGHBORHOOD HIGH SCHOOL
2  01M450                     EAST SIDE COMMUNITY SCHOOL
3  01M458                      FORSYTH SATELLITE ACADEMY
4  01M509                        MARTA VALLE HIGH SCHOOL

  Num of SAT Test Takers SAT Critical Reading Avg. Score SAT Math Avg. Score  \
0                     29                             355                 404
1                     91                             383                 423
2                     70                             377                 402
3                      7                             414                 401
4                     44                             390                 433

  SAT Writing Avg. Score
0                    363
1                    366
2                    370
3                    359
4                    384

In [2]:
data["demographics"]["DBN"].head()

0    01M015
1    01M015
2    01M015
3    01M015
4    01M015
Name: DBN, dtype: object

In [3]:
data["class_size"]["DBN"] = data["class_size"].apply(lambda x: "0{0}{1}".format(x["CSD"], x["SCHOOL CODE"]), axis=1)
data["hs_directory"]["DBN"] = data["hs_directory"]["dbn"]
data["hs_directory"].head()

,dbn,school_name,boro,building_code,phone_number,fax_number,grade_span_min,grade_span_max,expgrade_span_min,expgrade_span_max,...,priority03,priority04,priority05,priority06,priority07,priority08,priority09,priority10,Location 1,DBN
0,17K548,Brooklyn School for Music & Theatre,Brooklyn,K440,718-230-6250,718-230-6262,9,12,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"883 Classon Avenue\r\nBrooklyn, NY 11225\r\n(4...",17K548
1,09X543,High School for Violin and Dance,Bronx,X400,718-842-0687,718-589-9849,9,12,NaN,NaN,...,Then to Bronx students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,"1110 Boston Road\r\nBronx, NY 10456\r\n(40.827...",09X543
2,09X327,Comprehensive Model School Project M.S. 327,Bronx,X240,718-294-8111,718-294-8109,6,12,NaN,NaN,...,Then to New York City residents who attend an ...,Then to Bronx students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,"1501 Jerome Avenue\r\nBronx, NY 10452\r\n(40.8...",09X327
3,02M280,Manhattan Early College School for Advertising,Manhattan,M520,718-935-3477,NaN,9,10,9,14.0,...,Then to Manhattan students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,"411 Pearl Street\r\nNew York, NY 10038\r\n(40....",02M280
4,28Q680,Queens Gateway to Health Sciences Secondary Sc...,Queens,Q695,718-969-3155,718-969-3552,6,12,NaN,NaN,...,Then to Queens students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,"160-20 Goethals Avenue\r\nJamaica, NY 11432\r\...",28Q680

In [4]:
survey1 = pd.read_csv("schools/survey_all.txt", delimiter="\t", encoding='windows-1252')
survey2 = pd.read_csv("schools/survey_d75.txt", delimiter="\t", encoding='windows-1252')

In [5]:
survey1["d75"] = False
survey2["d75"] = True
survey = pd.concat([survey1, survey2], axis=0)
survey.head()

c:\users\imran\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

,N_p,N_s,N_t,aca_p_11,aca_s_11,aca_t_11,aca_tot_11,bn,com_p_11,com_s_11,...,t_q8c_1,t_q8c_2,t_q8c_3,t_q8c_4,t_q9,t_q9_1,t_q9_2,t_q9_3,t_q9_4,t_q9_5
0,90.0,NaN,22,7.8,NaN,7.9,7.9,M015,7.6,NaN,...,29.0,67.0,5.0,0.0,NaN,5.0,14.0,52.0,24.0,5.0
1,161.0,NaN,34,7.8,NaN,9.1,8.4,M019,7.6,NaN,...,74.0,21.0,6.0,0.0,NaN,3.0,6.0,3.0,78.0,9.0
2,367.0,NaN,42,8.6,NaN,7.5,8.0,M020,8.3,NaN,...,33.0,35.0,20.0,13.0,NaN,3.0,5.0,16.0,70.0,5.0
3,151.0,145.0,29,8.5,7.4,7.8,7.9,M034,8.2,5.9,...,21.0,45.0,28.0,7.0,NaN,0.0,18.0,32.0,39.0,11.0
4,90.0,NaN,23,7.9,NaN,8.1,8.0,M063,7.9,NaN,...,59.0,36.0,5.0,0.0,NaN,10.0,5.0,10.0,60.0,15.0

In [6]:
survey["DBN"] = survey["dbn"]
survey_fields = ["DBN", "rr_s", "rr_t", "rr_p", "N_s", "N_t", "N_p", "saf_p_11", "com_p_11", "eng_p_11", "aca_p_11", "saf_t_11", "com_t_11", "eng_t_10", "aca_t_11", "saf_s_11", "com_s_11", "eng_s_11", "aca_s_11", "saf_tot_11", "com_tot_11", "eng_tot_11", "aca_tot_11"]
survey = survey.loc[:,survey_fields]
data["survey"] = survey

c:\users\imran\appdata\local\programs\python\python37-32\lib\site-packages\pandas\core\indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

In [7]:
data["sat_results"].head()

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355,404,363
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383,423,366
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377,402,370
3,01M458,FORSYTH SATELLITE ACADEMY,7,414,401,359
4,01M509,MARTA VALLE HIGH SCHOOL,44,390,433,384

In [8]:
data["class_size"].head()

,CSD,BOROUGH,SCHOOL CODE,SCHOOL NAME,GRADE,PROGRAM TYPE,CORE SUBJECT (MS CORE and 9-12 ONLY),CORE COURSE (MS CORE and 9-12 ONLY),SERVICE CATEGORY(K-9* ONLY),NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,DATA SOURCE,SCHOOLWIDE PUPIL-TEACHER RATIO,DBN
0,1,M,M015,P.S. 015 Roberto Clemente,0K,GEN ED,-,-,-,19,1.0,19.0,19.0,19.0,ATS,NaN,01M015
1,1,M,M015,P.S. 015 Roberto Clemente,0K,CTT,-,-,-,21,1.0,21.0,21.0,21.0,ATS,NaN,01M015
2,1,M,M015,P.S. 015 Roberto Clemente,01,GEN ED,-,-,-,17,1.0,17.0,17.0,17.0,ATS,NaN,01M015
3,1,M,M015,P.S. 015 Roberto Clemente,01,CTT,-,-,-,17,1.0,17.0,17.0,17.0,ATS,NaN,01M015
4,1,M,M015,P.S. 015 Roberto Clemente,02,GEN ED,-,-,-,15,1.0,15.0,15.0,15.0,ATS,NaN,01M015

In [10]:
class_size = data["class_size"]
class_size = class_size[class_size["GRADE "] == "09-12"]
class_size = class_size[class_size["PROGRAM TYPE"] == "GEN ED"]
class_size

,CSD,BOROUGH,SCHOOL CODE,SCHOOL NAME,GRADE,PROGRAM TYPE,CORE SUBJECT (MS CORE and 9-12 ONLY),CORE COURSE (MS CORE and 9-12 ONLY),SERVICE CATEGORY(K-9* ONLY),NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,DATA SOURCE,SCHOOLWIDE PUPIL-TEACHER RATIO,DBN
225,1,M,M292,Henry Street School for International Studies,09-12,GEN ED,ENGLISH,English 9,-,63,3.0,21.0,19.0,25.0,STARS,NaN,01M292
226,1,M,M292,Henry Street School for International Studies,09-12,GEN ED,ENGLISH,English 10,-,79,3.0,26.3,24.0,31.0,STARS,NaN,01M292
227,1,M,M292,Henry Street School for International Studies,09-12,GEN ED,ENGLISH,English 11,-,38,2.0,19.0,16.0,22.0,STARS,NaN,01M292
228,1,M,M292,Henry Street School for International Studies,09-12,GEN ED,ENGLISH,English 12,-,69,3.0,23.0,13.0,30.0,STARS,NaN,01M292
229,1,M,M292,Henry Street School for International Studies,09-12,GEN ED,MATH,Integrated Algebra,-,53,3.0,17.7,16.0,21.0,STARS,NaN,01M292
231,1,M,M292,Henry Street School for International Studies,09-12,GEN ED,MATH,Geometry,-,32,1.0,32.0,32.0,32.0,STARS,NaN,01M292
232,1,M,M292,Henry Street School for International Studies,09-12,GEN ED,MATH,Other Math,-,118,6.0,19.7,13.0,27.0,STARS,NaN,01M292
233,1,M,M292,Henry Street School for International Studies,09-12,GEN ED,SCIENCE,Earth Science,-,125,4.0,31.3,28.0,35.0,STARS,NaN,01M292
234,1,M,M292,Henry Street School for International Studies,09-12,GEN ED,SCIENCE,Living Environment,-,58,2.0,29.0,29.0,29.0,STARS,NaN,01M292
235,1,M,M292,Henry Street School for International Studies,09-12,GEN ED,SCIENCE,Chemistry,-,157,8.0,19.6,13.0,24.0,STARS,NaN,01M292
236,1,M,M292,Henry Street School for International Studies,09-12,GEN ED,SCIENCE,Physics,-,13,1.0,13.0,13.0,13.0,STARS,NaN,01M292
237,1,M,M292,Henry Street School for International Studies,09-12,GEN ED,SCIENCE,Other Science,-,85,4.0,21.3,18.0,24.0,STARS,NaN,01M292
238,1,M,M292,Henry Street School for International Studies,09-12,GEN ED,SOCIAL STUDIES,Global History & Geography,-,156,7.0,22.3,10.0,31.0,STARS,NaN,01M292
239,1,M,M292,Henry Street School for International Studies,09-12,GEN ED,SOCIAL STUDIES,US History & Government,-,186,9.0,20.7,15.0,28.0,STARS,NaN,01M292
295,1,M,M332,University Neighborhood Middle School,09-12,GEN ED,ENGLISH,MS English Core,-,20,1.0,20.0,20.0,20.0,STARS,NaN,01M332
296,1,M,M332,University Neighborhood Middle School,09-12,GEN ED,ENGLISH,Other English,-,72,3.0,24.0,22.0,27.0,STARS,NaN,01M332
354,1,M,M378,School for Global Leaders,09-12,GEN ED,MATH,Integrated Algebra,-,33,1.0,33.0,33.0,33.0,STARS,NaN,01M378
356,1,M,M448,University Neighborhood High School,09-12,GEN ED,ENGLISH,English 9,-,53,3.0,17.7,13.0,27.0,STARS,NaN,01M448
357,1,M,M448,University Neighborhood High School,09-12,GEN ED,ENGLISH,English 10,-,83,5.0,16.6,10.0,26.0,STARS,NaN,01M448
358,1,M,M448,University Neighborhood High School,09-12,GEN ED,ENGLISH,English 11,-,85,4.0,21.3,16.0,26.0,STARS,NaN,01M448
359,1,M,M448,University Neighborhood High School,09-12,GEN ED,ENGLISH,English 12,-,122,6.0,20.3,13.0,29.0,STARS,NaN,01M448
360,1,M,M448,University Neighborhood High School,09-12,GEN ED,MATH,Integrated Algebra,-,142,6.0,23.7,17.0,31.0,STARS,NaN,01M448
361,1,M,M448,University Neighborhood High School,09-12,GEN ED,MATH,Geometry,-,18,1.0,18.0,18.0,18.0,STARS,NaN,01M448
362,1,M,M448,University Neighborhood High School,09-12,GEN ED,MATH,Trigonometry,-,175,7.0,25.0,19.0,29.0,STARS,NaN,01M448
363,1,M,M448,University Neighborhood High School,09-12,GEN ED,MATH,Other Math,-,25,1.0,25.0,25.0,25.0,STARS,NaN,01M448
364,1,M,M448,University Neighborhood High School,09-12,GEN ED,SCIENCE,Earth Science,-,38,2.0,19.0,19.0,19.0,STARS,NaN,01M448
365,1,M,M448,University Neighborhood High School,09-12,GEN ED,SCIENCE,Living Environment,-,264,10.0,26.4,24.0,32.0,STARS,NaN,01M448
366,1,M,M448,University Neighborhood High School,09-12,GEN ED,SCIENCE,Chemistry,-,108,4.0,27.0,23.0,31.0,STARS,NaN,01M448
367,1,M,M448,University Neighborhood High School,09-12,GEN ED,SCIENCE,Physics,-,46,2.0,23.0,23.0,23.0,STARS,NaN,01M448
368,1,M,M448,University Neighborhood High School,09-12,GEN ED,SCIENCE,Other Science,-,58,2.0,29.0,29.0,29.0,STARS,NaN,01M448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27569,32,K,K554,All City Leadership Secondary School,09-12,GEN ED,SOCIAL STUDIES,Other Social Studies,-,22,1.0,22.0,22.0,22.0,STARS,NaN,032K554
27571,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,ENGLISH,English 9,-,144,7.0,20.6,12.0,26.0,STARS,NaN,032K556
27572,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,ENGLISH,English 10,-,92,4.0,23.0,13.0,30.0,STARS,NaN,032K556
27573,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,ENGLISH,English 11,-,103,4.0,25.8,21.0,30.0,STARS,NaN,032K556
27574,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,ENGLISH,English 12,-,122,5.0,24.4,11.0,33.0,STARS,NaN,032K556
27575,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,MATH,Integrated Algebra,-,163,6.0,27.2,18.0,31.0,STARS,NaN,032K556
27576,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,MATH,Geometry,-,112,7.0,16.0,10.0,24.0,STARS,NaN,032K556
27577,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,MATH,Trigonometry,-,35,2.0,17.5,12.0,23.0,STARS,NaN,032K556
27578,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SCIENCE,Living Environment,-,93,4.0,23.3,21.0,25.0,STARS,NaN,032K556
27579,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SCIENCE,Chemistry,-,201,8.0,25.1,21.0,29.0,STARS,NaN,032K556
27580,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SCIENCE,Physics,-,68,2.0,34.0,34.0,34.0,STARS,NaN,032K556
27581,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SCIENCE,Other Science,-,313,12.0,26.1,18.0,33.0,STARS,NaN,032K556
27582,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SOCIAL STUDIES,Global History & Geography,-,289,11.0,26.3,15.0,34.0,STARS,NaN,032K556
27583,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SOCIAL STUDIES,US History & Government,-,128,5.0,25.6,13.0,32.0,STARS,NaN,032K556
27584,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SOCIAL STUDIES,Economics,-,59,2.0,29.5,26.0,33.0,STARS,NaN,032K556
27585,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SOCIAL STUDIES,Participation in Government,-,63,2.0,31.5,30.0,33.0,STARS,NaN,032K556
27595,32,K,K564,Bushwick Community High School,09-12,GEN ED,ENGLISH,English 9,-,261,10.0,26.1,17.0,35.0,STARS,NaN,032K564
27596,32,K,K564,Bushwick Community High School,09-12,GEN ED,ENGLISH,English 10,-,102,4.0,25.5,17.0,30.0,STARS,NaN,032K564
27597,32,K,K564,Bushwick Community High School,09-12,GEN ED,ENGLISH,English 11,-,144,6.0,24.0,21.0,28.0,STARS,NaN,032K564
27598,32,K,K564,Bushwick Community High School,09-12,GEN ED,ENGLISH,English 12,-,132,5.0,26.4,19.0,29.0,STARS,NaN,032K564
27599,32,K,K564,Bushwick Community High School,09-12,GEN ED,MATH,Integrated Algebra,-,342,14.0,24.4,19.0,28.0,STARS,NaN,032K564
27600,32,K,K564,Bushwick Community High School,09-12,GEN ED,MATH,Math A,-,23,1.0,23.0,23.0,23.0,STARS,NaN,032K564
27601,32,K,K564,Bushwick Community High School,09-12,GEN ED,SCIENCE,Earth Science,-,24,2.0,12.0,12.0,12.0,STARS,NaN,032K564
27602,32,K,K564,Bushwick Community High School,09-12,GEN ED,SCIENCE,Living Environment,-,161,6.0,26.8,17.0,31.0,STARS,NaN,032K564
27603,32,K,K564,Bushwick Community High School,09-12,GEN ED,SCIENCE,Chemistry,-,57,2.0,28.5,27.0,30.0,STARS,NaN,032K564
27604,32,K,K564,Bushwick Community High School,09-12,GEN ED,SCIENCE,Physics,-,49,2.0,24.5,22.0,27.0,STARS,NaN,032K564
27605,32,K,K564,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,Global History & Geography,-,237,10.0,23.7,15.0,31.0,STARS,NaN,032K564
27606,32,K,K564,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,US History & Government,-,256,10.0,25.6,15.0,35.0,STARS,NaN,032K564
27607,32,K,K564,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,Economics,-,65,2.0,32.5,32.0,33.0,STARS,NaN,032K564
27608,32,K,K564,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,Participation in Government,-,53,2.0,26.5,25.0,28.0,STARS,NaN,032K564

In [11]:
class_size = class_size.groupby("DBN").agg(np.mean)
class_size.reset_index(inplace=True)
data["class_size"] = class_size
data["class_size"]

,DBN,CSD,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,SCHOOLWIDE PUPIL-TEACHER RATIO
0,010X080,10,1.000000,25.000000,25.000000,25.000000,NaN
1,010X095,10,8.000000,25.400000,19.000000,29.000000,NaN
2,010X118,10,7.000000,28.100000,27.000000,31.000000,NaN
3,010X141,10,5.176471,26.794118,21.352941,30.705882,NaN
4,010X206,10,12.000000,27.000000,21.000000,32.000000,NaN
5,010X213,10,3.076923,22.023077,18.692308,25.769231,NaN
6,010X225,10,2.800000,25.040000,23.266667,26.733333,NaN
7,010X237,10,4.250000,25.812500,19.875000,32.062500,NaN
8,010X243,10,3.357143,25.042857,21.357143,27.928571,NaN
9,010X244,10,2.500000,23.025000,21.500000,24.500000,NaN
10,010X254,10,9.000000,27.700000,23.000000,34.000000,NaN
11,010X268,10,6.571429,29.628571,27.000000,32.428571,NaN
12,010X284,10,3.823529,23.358824,16.764706,28.941176,NaN
13,010X315,10,3.500000,22.000000,20.000000,24.000000,NaN
14,010X319,10,3.571429,16.957143,14.571429,22.000000,NaN
15,010X342,10,5.538462,23.723077,16.615385,28.769231,NaN
16,010X368,10,4.600000,26.266667,20.133333,30.600000,NaN
17,010X374,10,5.333333,22.750000,17.111111,28.444444,NaN
18,010X390,10,1.000000,29.000000,29.000000,29.000000,NaN
19,010X391,10,1.000000,19.000000,19.000000,19.000000,NaN
20,010X397,10,8.800000,17.940000,14.500000,21.400000,NaN
21,010X399,10,2.000000,28.000000,28.000000,28.000000,NaN
22,010X433,10,5.312500,20.800000,16.250000,24.312500,NaN
23,010X434,10,5.600000,22.360000,17.133333,27.666667,NaN
24,010X437,10,2.764706,22.888235,18.823529,26.470588,NaN
25,010X438,10,3.937500,21.356250,17.437500,25.000000,NaN
26,010X439,10,4.705882,21.729412,16.882353,25.588235,NaN
27,010X440,10,28.736842,26.052632,14.631579,32.315789,NaN
28,010X442,10,3.833333,23.261111,19.388889,26.666667,NaN
29,010X445,10,23.000000,31.163158,23.368421,34.210526,NaN
...,...,...,...,...,...,...,...
553,08X650,8,9.666667,24.483333,16.666667,30.250000,NaN
554,09X218,9,9.000000,26.700000,24.000000,28.000000,NaN
555,09X219,9,6.500000,25.350000,14.500000,32.000000,NaN
556,09X227,9,3.500000,22.714286,17.357143,28.357143,NaN
557,09X231,9,4.666667,25.473333,19.866667,30.333333,NaN
558,09X232,9,15.000000,25.300000,16.000000,31.000000,NaN
559,09X239,9,1.764706,21.252941,19.294118,23.235294,NaN
560,09X241,9,5.352941,21.529412,17.823529,25.000000,NaN
561,09X250,9,3.076923,24.607692,20.384615,29.384615,NaN
562,09X252,9,3.214286,27.714286,23.857143,31.857143,NaN
563,09X260,9,5.000000,22.670588,16.352941,28.823529,NaN
564,09X263,9,3.928571,26.285714,22.785714,29.142857,NaN
565,09X276,9,2.117647,22.100000,18.000000,25.705882,NaN
566,09X297,9,3.733333,22.846667,18.000000,27.666667,NaN
567,09X303,9,1.000000,19.000000,19.000000,19.000000,NaN
568,09X313,9,7.000000,27.050000,24.000000,32.000000,NaN
569,09X324,9,3.125000,27.962500,26.000000,30.000000,NaN
570,09X325,9,2.000000,25.000000,24.000000,26.000000,NaN
571,09X327,9,26.000000,25.300000,22.000000,29.000000,NaN
572,09X329,9,4.500000,22.885714,15.857143,28.785714,NaN
573,09X365,9,4.500000,23.714286,18.357143,28.000000,NaN
574,09X403,9,10.222222,15.611111,12.444444,22.000000,NaN
575,09X404,9,4.900000,24.300000,20.900000,30.200000,NaN
576,09X412,9,6.923077,23.184615,17.230769,29.307692,NaN
577,09X413,9,4.285714,26.035714,21.500000,30.357143,NaN
578,09X414,9,6.090909,24.690909,19.181818,29.727273,NaN
579,09X505,9,3.476190,27.766667,23.142857,31.333333,NaN
580,09X517,9,3.437500,22.956250,17.562500,27.500000,NaN
581,09X525,9,5.375000,26.868750,22.812500,30.687500,NaN
582,09X543,9,1.375000,22.500000,20.625000,24.500000,NaN

In [18]:
demographics = data["demographics"]
demographics = demographics[demographics["schoolyear"] == 20112012]
data["demographics"] = demographics

In [22]:
math_test_results = data["math_test_results"]
math_test_results = math_test_results[math_test_results["Year"] == 2011]
math_test_results = math_test_results[math_test_results["Grade"] == '8']
math_test_results

,DBN,Grade,Year,Category,Number Tested,Mean Scale Score,Level 1 #,Level 1 %,Level 2 #,Level 2 %,Level 3 #,Level 3 %,Level 4 #,Level 4 %,Level 3+4 #,Level 3+4 %
111,01M034,8,2011,All Students,48,646,15,31.3,22,45.8,11,22.9,0,0,11,22.9
280,01M140,8,2011,All Students,61,665,1,1.6,43,70.5,17,27.9,0,0,17,27.9
346,01M184,8,2011,All Students,49,727,0,0,0,0,5,10.2,44,89.8,49,100
388,01M188,8,2011,All Students,49,658,10,20.4,26,53.1,10,20.4,3,6.1,13,26.5
411,01M292,8,2011,All Students,49,650,15,30.6,25,51,7,14.3,2,4.1,9,18.4
433,01M301,8,2011,All Students,76,663,11,14.5,39,51.3,23,30.3,3,3.9,26,34.2
482,01M332,8,2011,All Students,47,652,7,14.9,24,51.1,16,34,0,0,16,34
503,01M345,8,2011,All Students,88,671,10,11.4,33,37.5,36,40.9,9,10.2,45,51.1
590,01M378,8,2011,All Students,64,675,3,4.7,27,42.2,26,40.6,8,12.5,34,53.1
610,01M450,8,2011,All Students,55,673,2,3.6,24,43.6,27,49.1,2,3.6,29,52.7
651,01M539,8,2011,All Students,142,724,0,0,1,0.7,22,15.5,119,83.8,141,99.3
674,01M839,8,2011,All Students,124,679,7,5.6,38,30.6,57,46,22,17.7,79,63.7
1010,02M104,8,2011,All Students,285,693,8,2.8,59,20.7,111,38.9,107,37.5,218,76.5
1052,02M111,8,2011,All Students,74,679,6,8.1,26,35.1,30,40.5,12,16.2,42,56.8
1075,02M114,8,2011,All Students,126,713,0,0,1,0.8,37,29.4,88,69.8,125,99.2
1165,02M126,8,2011,All Students,111,699,5,4.5,12,10.8,50,45,44,39.6,94,84.7
1213,02M131,8,2011,All Students,305,685,17,5.6,75,24.6,134,43.9,79,25.9,213,69.8
1285,02M167,8,2011,All Students,387,692,11,2.8,83,21.4,158,40.8,135,34.9,293,75.7
1399,02M217,8,2011,All Students,36,676,3,8.3,14,38.9,12,33.3,7,19.4,19,52.8
1441,02M225,8,2011,All Students,15,676,0,0,6,40,8,53.3,1,6.7,9,60
1489,02M255,8,2011,All Students,124,703,0,0,8,6.5,50,40.3,66,53.2,116,93.5
1513,02M260,8,2011,All Students,89,696,0,0,10,11.2,51,57.3,28,31.5,79,88.8
1539,02M289,8,2011,All Students,89,694,0,0,14,15.7,48,53.9,27,30.3,75,84.3
1588,02M312,8,2011,All Students,175,713,0,0,5,2.9,49,28,121,69.1,170,97.1
1622,02M347,8,2011,All Students,9,652,3,33.3,4,44.4,2,22.2,0,0,2,22.2
1646,02M407,8,2011,All Students,76,680,1,1.3,28,36.8,39,51.3,8,10.5,47,61.8
1670,02M408,8,2011,All Students,30,694,0,0,4,13.3,17,56.7,9,30,26,86.7
1694,02M413,8,2011,All Students,91,692,2,2.2,13,14.3,53,58.2,23,25.3,76,83.5
1735,02M442,8,2011,All Students,20,704,0,0,1,5,9,45,10,50,19,95
1758,02M655,8,2011,All Students,32,654,6,18.8,17,53.1,9,28.1,0,0,9,28.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27010,75K077,8,2011,All Students,1,s,s,s,s,s,s,s,s,s,s,s
27050,75K140,8,2011,All Students,18,585,17,94.4,1,5.6,0,0,0,0,0,0
27078,75K141,8,2011,All Students,26,608,22,84.6,3,11.5,1,3.8,0,0,1,3.8
27153,75K368,8,2011,All Students,26,598,19,73.1,6,23.1,1,3.8,0,0,1,3.8
27195,75K369,8,2011,All Students,55,616,30,54.5,24,43.6,1,1.8,0,0,1,1.8
27315,75K771,8,2011,All Students,17,615,14,82.4,3,17.6,0,0,0,0,0,0
27373,75M035,8,2011,All Students,7,556,5,71.4,2,28.6,0,0,0,0,0,0
27428,75M094,8,2011,All Students,2,s,s,s,s,s,s,s,s,s,s,s
27468,75M138,8,2011,All Students,2,s,s,s,s,s,s,s,s,s,s,s
27510,75M169,8,2011,All Students,38,612,29,76.3,7,18.4,1,2.6,1,2.6,2,5.3
27581,75M811,8,2011,All Students,22,600,18,81.8,4,18.2,0,0,0,0,0,0
27653,75Q009,8,2011,All Students,48,611,30,62.5,18,37.5,0,0,0,0,0,0
27694,75Q023,8,2011,All Students,35,631,16,45.7,13,37.1,5,14.3,1,2.9,6,17.1
27736,75Q075,8,2011,All Students,11,627,6,54.5,4,36.4,1,9.1,0,0,1,9.1
27775,75Q177,8,2011,All Students,6,662,1,16.7,2,33.3,3,50,0,0,3,50
27816,75Q224,8,2011,All Students,17,629,9,52.9,4,23.5,4,23.5,0,0,4,23.5
27855,75Q233,8,2011,All Students,4,s,s,s,s,s,s,s,s,s,s,s
27923,75Q256,8,2011,All Students,44,636,17,38.6,20,45.5,5,11.4,2,4.5,7,15.9
27959,75Q811,8,2011,All Students,1,s,s,s,s,s,s,s,s,s,s,s
28001,75Q993,8,2011,All Students,1,s,s,s,s,s,s,s,s,s,s,s
28043,75R025,8,2011,All Students,55,630,30,54.5,15,27.3,9,16.4,1,1.8,10,18.2
28138,75X010,8,2011,All Students,24,648,8,33.3,11,45.8,3,12.5,2,8.3,5,20.8
28205,75X017,8,2011,All Students,42,640,17,40.5,20,47.6,5,11.9,0,0,5,11.9
28247,75X168,8,2011,All Students,17,633,12,70.6,5,29.4,0,0,0,0,0,0
28286,75X176,8,2011,All Students,2,s,s,s,s,s,s,s,s,s,s,s
28328,75X186,8,2011,All Students,31,596,23,74.2,8,25.8,0,0,0,0,0,0
28369,75X188,8,2011,All Students,33,606,25,75.8,5,15.2,2,6.1,1,3,3,9.1
28405,75X352,8,2011,All Students,13,610,10,76.9,3,23.1,0,0,0,0,0,0
28430,75X721,8,2011,All Students,4,s,s,s,s,s,s,s,s,s,s,s
28471,75X723,8,2011,All Students,32,595,24,75,7,21.9,1,3.1,0,0,1,3.1

In [26]:
graduation = data["graduation"]
graduation = graduation[graduation["Cohort"] == "2006"]
graduation = graduation[graduation["Demographic"] == "Total Cohort"]
data["graduation"] = graduation
graduation

,Demographic,DBN,School Name,Cohort,Total Cohort,Total Grads - n,Total Grads - % of cohort,Total Regents - n,Total Regents - % of cohort,Total Regents - % of grads,...,Regents w/o Advanced - n,Regents w/o Advanced - % of cohort,Regents w/o Advanced - % of grads,Local - n,Local - % of cohort,Local - % of grads,Still Enrolled - n,Still Enrolled - % of cohort,Dropped Out - n,Dropped Out - % of cohort
3,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2006,78,43,55.1,36,46.2,83.7,...,36,46.2,83.7,7,9,16.3,16,20.5,11,14.1
10,Total Cohort,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,2006,124,53,42.7,42,33.9,79.2,...,34,27.4,64.2,11,8.9,20.8,46,37.1,20,16.100000000000001
17,Total Cohort,01M450,EAST SIDE COMMUNITY SCHOOL,2006,90,70,77.8,67,74.400000000000006,95.7,...,67,74.400000000000006,95.7,3,3.3,4.3,15,16.7,5,5.6
24,Total Cohort,01M509,MARTA VALLE HIGH SCHOOL,2006,84,47,56,40,47.6,85.1,...,23,27.4,48.9,7,8.3000000000000007,14.9,25,29.8,5,6
31,Total Cohort,01M515,LOWER EAST SIDE PREPARATORY HIGH SCHO,2006,193,105,54.4,91,47.2,86.7,...,22,11.4,21,14,7.3,13.3,53,27.5,35,18.100000000000001
38,Total Cohort,01M539,NEW EXPLORATIONS INTO SCIENCE TECHNO,2006,46,46,100,46,100,100,...,15,32.6,32.6,0,0,0,0,0,0,0
45,Total Cohort,01M650,CASCADES HIGH SCHOOL,2006,89,49,55.1,36,40.4,73.5,...,36,40.4,73.5,13,14.6,26.5,34,38.200000000000003,6,6.7
52,Total Cohort,01M696,BARD HIGH SCHOOL EARLY COLLEGE,2006,139,134,96.4,134,96.4,100,...,134,96.4,100,0,0,0,4,2.9,1,0.7
59,Total Cohort,02M047,47 THE AMERICAN SIGN LANGUAGE AND ENG,2006,25,19,76,8,32,42.1,...,8,32,42.1,11,44,57.9,4,16,1,4
66,Total Cohort,02M288,FOOD AND FINANCE HIGH SCHOOL,2006,102,91,89.2,77,75.5,84.6,...,77,75.5,84.6,14,13.7,15.4,5,4.9000000000000004,3,2.9
72,Total Cohort,02M294,ESSEX STREET ACADEMY,2006,89,64,71.900000000000006,58,65.2,90.6,...,58,65.2,90.6,6,6.7,9.4,15,16.899999999999999,9,10.1
77,Total Cohort,02M296,HIGH SCHOOL OF HOSPITALITY MANAGEMENT,2006,75,58,77.3,50,66.7,86.2,...,49,65.3,84.5,8,10.7,13.8,11,14.7,5,6.7
83,Total Cohort,02M298,PACE HIGH SCHOOL,2006,92,78,84.8,76,82.6,97.4,...,37,40.200000000000003,47.4,2,2.2000000000000002,2.6,6,6.5,4,4.3
89,Total Cohort,02M300,URBAN ASSEMBLY SCHOOL OF DESIGN AND C,2006,80,49,61.3,45,56.3,91.8,...,45,56.3,91.8,4,5,8.1999999999999993,24,30,7,8.8000000000000007
93,Total Cohort,02M303,FACING HISTORY SCHOOL THE,2006,71,34,47.9,34,47.9,100,...,34,47.9,100,0,0,0,21,29.6,14,19.7
97,Total Cohort,02M305,URBAN ASSEMBLY ACADEMY OF GOVERNMENT,2006,61,46,75.400000000000006,40,65.599999999999994,87,...,40,65.599999999999994,87,6,9.8000000000000007,13,3,4.9000000000000004,10,16.399999999999999
101,Total Cohort,02M308,LOWER MANHATTAN ARTS ACADEMY,2006,68,46,67.599999999999994,32,47.1,69.599999999999994,...,31,45.6,67.400000000000006,14,20.6,30.4,15,22.1,6,8.8000000000000007
107,Total Cohort,02M313,JAMES BALDWIN SCHOOL THE: A SCHOOL F,2006,79,41,51.9,30,38,73.2,...,30,38,73.2,11,13.9,26.8,23,29.1,12,15.2
112,Total Cohort,02M316,URBAN ASSEMBLY SCHOOL OF BUSINESS FOR YOUNG WOMEN,2006,72,53,73.599999999999994,44,61.1,83,...,36,50,67.900000000000006,9,12.5,17,13,18.100000000000001,4,5.6
115,Total Cohort,02M374,GRAMERCY ARTS HIGH SCHOOL,2006,93,68,73.099999999999994,51,54.8,75,...,50,53.8,73.5,17,18.3,25,16,17.2,7,7.5
117,Total Cohort,02M394,EMMA LAZARUS HIGH SCHOOL,2006,10,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
124,Total Cohort,02M400,HIGH SCHOOL FOR ENVIRONMENTAL STUDIES,2006,352,262,74.400000000000006,219,62.2,83.6,...,139,39.5,53.1,43,12.2,16.399999999999999,55,15.6,22,6.3
131,Total Cohort,02M407,INSTITUTE FOR COLLABORATIVE EDUCATION,2006,55,42,76.400000000000006,0,0,0,...,0,0,0,42,76.400000000000006,100,11,20,2,3.6
138,Total Cohort,02M408,PROFESSIONAL PERFORMING ARTS HIGH SCH,2006,80,74,92.5,61,76.3,82.4,...,53,66.3,71.599999999999994,13,16.3,17.600000000000001,6,7.5,0,0
150,Total Cohort,02M411,BARUCH COLLEGE CAMPUS HIGH SCHOOL,2006,105,103,98.1,100,95.2,97.1,...,44,41.9,42.7,3,2.9,2.9,2,1.9,0,0
157,Total Cohort,02M412,N.Y.C. LAB SCHOOL FOR COLLABORATIVE S,2006,124,113,91.1,106,85.5,93.8,...,44,35.5,38.9,7,5.6,6.2,9,7.3,2,1.6
165,Total Cohort,02M413,SCHOOL OF THE FUTURE HIGH SCHOOL,2006,95,61,64.2,61,64.2,100,...,61,64.2,100,0,0,0,31,32.6,2,2.1
172,Total Cohort,02M414,N.Y.C. MUSEUM SCHOOL,2006,106,100,94.3,86,81.099999999999994,86,...,81,76.400000000000006,81,14,13.2,14,3,2.8,2,1.9
179,Total Cohort,02M416,ELEANOR ROOSEVELT HIGH SCHOOL,2006,127,127,100,126,99.2,99.2,...,16,12.6,12.6,1,0.8,0.8,0,0,0,0
185,Total Cohort,02M418,MILLENNIUM HIGH SCHOOL,2006,150,145,96.7,139,92.7,95.9,...,71,47.3,49,6,4,4.0999999999999996,5,3.3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2296,Total Cohort,29Q272,GEORGE WASHINGTON CARVER HIGH SCHOOL,2006,103,81,78.599999999999994,76,73.8,93.8,...,55,53.4,67.900000000000006,5,4.9000000000000004,6.2,19,18.399999999999999,3,2.9
2300,Total Cohort,29Q283,PREPARATORY ACADEMY FOR WRITERS: A CO,2006,36,28,77.8,12,33.299999999999997,42.9,...,12,33.299999999999997,42.9,16,44.4,57.1,3,8.3000000000000007,5,13.9
2312,Total Cohort,29Q492,MATHEMATICS SCIENCE RESEARCH AND TEC,2006,108,73,67.599999999999994,57,52.8,78.099999999999994,...,35,32.4,47.9,16,14.8,21.9,24,22.2,10,9.3000000000000007
2320,Total Cohort,29Q494,LAW GOVERNMENT AND COMMUNITY SERVICE,2006,125,72,57.6,61,48.8,84.7,...,49,39.200000000000003,68.099999999999994,11,8.8000000000000007,15.3,35,28,13,10.4
2327,Total Cohort,29Q496,BUSINESS COMPUTER APPLICATIONS & ENT,2006,116,52,44.8,33,28.4,63.5,...,29,25,55.8,19,16.399999999999999,36.5,39,33.6,22,19
2334,Total Cohort,29Q498,HUMANITIES & ARTS MAGNET HIGH SCHOOL,2006,94,72,76.599999999999994,61,64.900000000000006,84.7,...,56,59.6,77.8,11,11.7,15.3,13,13.8,6,6.4
2341,Total Cohort,30Q445,WILLIAM CULLEN BRYANT HIGH SCHOOL,2006,810,449,55.4,371,45.8,82.6,...,236,29.1,52.6,78,9.6,17.399999999999999,223,27.5,110,13.6
2348,Total Cohort,30Q450,LONG ISLAND CITY HIGH SCHOOL,2006,718,420,58.5,374,52.1,89,...,263,36.6,62.6,46,6.4,11,180,25.1,92,12.8
2355,Total Cohort,30Q501,FRANK SINATRA SCHOOL OF THE ARTS HIGH SCHOOL,2006,171,162,94.7,152,88.9,93.8,...,78,45.6,48.1,10,5.8,6.2,5,2.9,3,1.8
2362,Total Cohort,30Q502,INFORMATION TECHNOLOGY HIGH SCHOOL,2006,267,180,67.400000000000006,144,53.9,80,...,109,40.799999999999997,60.6,36,13.5,20,50,18.7,33,12.4
2369,Total Cohort,30Q555,NEWCOMERS HIGH SCHOOL,2006,214,142,66.400000000000006,123,57.5,86.6,...,87,40.700000000000003,61.3,19,8.9,13.4,38,17.8,31,14.5
2376,Total Cohort,30Q575,ACADEMY OF AMERICAN STUDIES,2006,155,125,80.599999999999994,117,75.5,93.6,...,46,29.7,36.799999999999997,8,5.2,6.4,25,16.100000000000001,3,1.9
2382,Total Cohort,30Q580,BACCALAUREATE SCHOOL FOR GLOBAL EDUCA,2006,72,71,98.6,69,95.8,97.2,...,32,44.4,45.1,2,2.8,2.8,0,0,1,1.4
2385,Total Cohort,31R047,CSI HIGH SCHOOL FOR INTERNATIONAL STU,2006,80,76,95,66,82.5,86.8,...,58,72.5,76.3,10,12.5,13.2,3,3.8,1,1.3
2392,Total Cohort,31R080,THE MICHAEL J. PETRIDES SCHOOL,2006,113,100,88.5,93,82.3,93,...,39,34.5,39,7,6.2,7,5,4.4000000000000004,3,2.7
2399,Total Cohort,31R440,NEW DORP HIGH SCHOOL,2006,509,375,73.7,301,59.1,80.3,...,216,42.4,57.6,74,14.5,19.7,77,15.1,45,8.8000000000000007
2406,Total Cohort,31R445,PORT RICHMOND HIGH SCHOOL,2006,519,330,63.6,248,47.8,75.2,...,180,34.700000000000003,54.5,82,15.8,24.8,109,21,55,10.6
2413,Total Cohort,31R450,CURTIS HIGH SCHOOL,2006,649,449,69.2,404,62.2,90,...,283,43.6,63,45,6.9,10,122,18.8,63,9.6999999999999993
2420,Total Cohort,31R455,TOTTENVILLE HIGH SCHOOL,2006,"1,069",877,82,732,68.5,83.5,...,427,39.9,48.7,145,13.6,16.5,91,8.5,87,8.1
2427,Total Cohort,31R460,SUSAN E. WAGNER HIGH SCHOOL,2006,912,692,75.900000000000006,580,63.6,83.8,...,363,39.799999999999997,52.5,112,12.3,16.2,96,10.5,73,8
2433,Total Cohort,31R470,CONCORD HIGH SCHOOL,2006,52,18,34.6,8,15.4,44.4,...,8,15.4,44.4,10,19.2,55.6,23,44.2,11,21.2
2440,Total Cohort,31R600,RALPH R. MCKEE CAREER AND TECHNICAL E,2006,175,97,55.4,75,42.9,77.3,...,19,10.9,19.600000000000001,22,12.6,22.7,49,28,17,9.6999999999999993
2447,Total Cohort,31R605,STATEN ISLAND TECHNICAL HIGH SCHOOL,2006,288,287,99.7,287,99.7,100,...,11,3.8,3.8,0,0,0,1,0.3,0,0
2451,Total Cohort,32K403,ACADEMY FOR ENVIRONMENTAL LEADERSHIP,2006,99,66,66.7,45,45.5,68.2,...,42,42.4,63.6,21,21.2,31.8,23,23.2,10,10.1
2461,Total Cohort,32K545,EBC HIGH SCHOOL FOR PUBLIC SERVICEBU,2006,161,101,62.7,48,29.8,47.5,...,42,26.1,41.6,53,32.9,52.5,53,32.9,6,3.7
2467,Total Cohort,32K549,BUSHWICK SCHOOL FOR SOCIAL JUSTICE,2006,97,74,76.3,59,60.8,79.7,...,54,55.7,73,15,15.5,20.3,12,12.4,9,9.3000000000000007
2474,Total Cohort,32K552,ACADEMY OF URBAN PLANNING,2006,115,55,47.8,41,35.700000000000003,74.5,...,40,34.799999999999997,72.7,14,12.2,25.5,44,38.299999999999997,10,8.6999999999999993
2480,Total Cohort,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,2006,43,36,83.7,23,53.5,63.9,...,18,41.9,50,13,30.2,36.1,5,11.6,2,4.7
2487,Total Cohort,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACAD,2006,117,65,55.6,28,23.9,43.1,...,23,19.7,35.4,37,31.6,56.9,24,20.5,22,18.8
2494,Total Cohort,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2006,128,10,7.8,3,2.2999999999999998,30,...,3,2.2999999999999998,30,7,5.5,70,63,49.2,52,40.6

In [27]:
sat_results = data["sat_results"]
columns = ["SAT Math Avg. Score", "SAT Critical Reading Avg. Score", "SAT Writing Avg. Score"]
for c in columns:
    data["sat_results"][c] =

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355,404,363
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383,423,366
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377,402,370
3,01M458,FORSYTH SATELLITE ACADEMY,7,414,401,359
4,01M509,MARTA VALLE HIGH SCHOOL,44,390,433,384
5,01M515,LOWER EAST SIDE PREPARATORY HIGH SCHOOL,112,332,557,316
6,01M539,"NEW EXPLORATIONS INTO SCIENCE, TECHNOLOGY AND ...",159,522,574,525
7,01M650,CASCADES HIGH SCHOOL,18,417,418,411
8,01M696,BARD HIGH SCHOOL EARLY COLLEGE,130,624,604,628
9,02M047,47 THE AMERICAN SIGN LANGUAGE AND ENGLISH SECO...,16,395,400,387
10,02M288,FOOD AND FINANCE HIGH SCHOOL,62,409,393,392
11,02M294,ESSEX STREET ACADEMY,53,394,384,378
12,02M296,HIGH SCHOOL OF HOSPITALITY MANAGEMENT,58,374,375,362
13,02M298,PACE HIGH SCHOOL,85,423,438,432
14,02M300,URBAN ASSEMBLY SCHOOL OF DESIGN AND CONSTRUCTI...,48,404,449,416
15,02M303,"FACING HISTORY SCHOOL, THE",76,353,358,340
16,02M305,"URBAN ASSEMBLY ACADEMY OF GOVERNMENT AND LAW, THE",50,375,388,385
17,02M308,LOWER MANHATTAN ARTS ACADEMY,40,403,392,405
18,02M313,"JAMES BALDWIN SCHOOL, THE: A SCHOOL FOR EXPEDI...",69,408,390,390
19,02M316,URBAN ASSEMBLY SCHOOL OF BUSINESS FOR YOUNG WO...,42,373,370,384
20,02M374,GRAMERCY ARTS HIGH SCHOOL,60,391,391,394
21,02M376,NYC ISCHOOL,92,473,483,479
22,02M392,MANHATTAN BUSINESS ACADEMY,s,s,s,s
23,02M393,BUSINESS OF SPORTS SCHOOL,s,s,s,s
24,02M394,EMMA LAZARUS HIGH SCHOOL,79,319,512,357
25,02M399,THE HIGH SCHOOL FOR LANGUAGE AND DIPLOMACY,s,s,s,s
26,02M400,HIGH SCHOOL FOR ENVIRONMENTAL STUDIES,263,465,493,461
27,02M407,INSTITUTE FOR COLLABORATIVE EDUCATION,54,492,465,467
28,02M408,PROFESSIONAL PERFORMING ARTS HIGH SCHOOL,94,509,490,523
29,02M411,BARUCH COLLEGE CAMPUS HIGH SCHOOL,104,496,563,518
...,...,...,...,...,...,...
448,30Q580,BACCALAUREATE SCHOOL FOR GLOBAL EDUCATION,61,524,568,544
449,31R047,CSI HIGH SCHOOL FOR INTERNATIONAL STUDIES,137,452,451,450
450,31R064,GAYNOR MCCOWN EXPEDITIONARY LEARNING SCHOOL,61,398,412,385
451,31R080,THE MICHAEL J. PETRIDES SCHOOL,107,472,488,466
452,31R440,NEW DORP HIGH SCHOOL,391,424,437,416
453,31R445,PORT RICHMOND HIGH SCHOOL,271,424,438,417
454,31R450,CURTIS HIGH SCHOOL,375,437,435,429
455,31R455,TOTTENVILLE HIGH SCHOOL,807,462,486,470
456,31R460,SUSAN E. WAGNER HIGH SCHOOL,535,455,474,459
457,31R470,CONCORD HIGH SCHOOL,10,466,455,414
458,31R600,RALPH R. MCKEE CAREER AND TECHNICAL EDUCATION ...,94,416,422,397
459,31R605,STATEN ISLAND TECHNICAL HIGH SCHOOL,227,635,682,636
460,31R607,YOUNG ADULT BOROUGH CENTER AT STATEN IS TECH HS,10,405,375,370
461,32K403,ACADEMY FOR ENVIRONMENTAL LEADERSHIP,50,380,366,352
462,32K545,EBC HIGH SCHOOL FOR PUBLIC SERVICE–BUSHWICK,88,384,409,361
463,32K549,BUSHWICK SCHOOL FOR SOCIAL JUSTICE,75,348,353,334
464,32K552,ACADEMY OF URBAN PLANNING,67,342,364,354
465,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,39,428,465,422
466,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACADEMIC EXCE...,23,347,358,350
467,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,24,359,317,358
468,75K371,P.S. 371 s LILLIAN L. RASHKIS,s,s,s,s
469,75M035,P.S. 035,s,s,s,s
470,75Q256,P.S. Q256,s,s,s,s
471,75Q811,P.S. Q811,32,429,444,433
472,75R025,SOUTH RICHMOND HIGH SCHOOL I.S./P.S. 25,s,s,s,s
473,75X012,P.S. X012 LEWIS AND CLARK SCHOOL,s,s,s,s
474,75X754,J. M. RAPPORT SCHOOL CAREER DEVELOPMENT,s,s,s,s
475,79M645,SCHOOL FOR COOPERATIVE TECHNICAL EDUCATION,s,s,s,s
476,79Q950,GED PLUS s CITYWIDE,8,496,400,426
477,79X490,PHOENIX ACADEMY,9,367,370,360